<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration >
    <!-- dataSource内部字面属性的优先级要你高于 外部properties文件内属性的优先级要高于peoperties的内部子节点的优先级 -->
    <properties resource="jdbc.properties">

    </properties>
    <settings>
        <!--设置日志配置-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!-- 注册一个简写的类名，可以在其他的mapper文件中被引用（不推荐使用） -->
    <!--
    <typeAliases>
        <typeAlias type="com.xuzhi.model.Girl" alias="girl"  />
    </typeAliases>
    -->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="url" value="${url}" />
                <property name="driver" value="${driver}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>


    <mappers >
        <!--  四种引入方式，多用第一种-->
        <mapper resource="com.xuzhi.mapper/GirlMapper.xml" />
        <mapper resource="com.xuzhi.mapper/GirlMapperSQL.xml" />
        <mapper resource="com.xuzhi.mapper/GirlDetailMapper.xml"/>
        <mapper resource="com.xuzhi.mapper/GirlWithDetailMapper.xml"/>
        <mapper resource="com.xuzhi.mapper/GirlWithBlogMapper.xml" />
        <!--
        <mapper class="com.xuzhi.mapper.GirlMapper" />
        -->
        <!--引入一个包的方式，以后只要凡事在这个包下的新建的mapper，都不需要重新引入-->
        <!--
            <package name="com.xuzhi.mapper" />
         -->
    </mappers>
</configuration>