<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuzhi.mapper.GirlMapper">

    <insert id="insert" >
        insert into girl(name,flower,birthday) values (#{name},#{flower},#{birthday})
    </insert>
    <select id="queryById" resultType="com.xuzhi.model.Girl">
        select * from girl where id=#{id}
    </select>
    <select id="queryByNameFlower" resultType="com.xuzhi.model.Girl">
        select * from girl where name=#{name} and flower=#{flower}
    </select>
    <select id="queryByNameFlower1" resultType="com.xuzhi.model.Girl">
        select * from girl where name=#{name} and flower=#{flower}
    </select>
    <select id="queryByNameFlower2" resultType="com.xuzhi.model.Girl">
        select * from girl where name=#{name} and flower=#{flower}
    </select>
    <select id="queryByNameFlower3" resultType="com.xuzhi.model.Girl">
        select * from girl
        <where>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="flower!=null and name!=''">
                and flower=#{flower}
            </if>
        </where>
    </select>


</mapper>