<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.zyyz.mapper.RegisterMapper">


    <insert id="insertUserBase">
        INSERT INTO baseuser ( username, PASSWORD, userEmail, userType )
        VALUES
            ( #{username} , #{password} , #{userEmail} , #{userType} );
    </insert>
</mapper>